@import url('https://fonts.googleapis.com/css2?family=Asap:wght@400;500;700&display=swap');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-color: grey;
} 
header{
  background: white;
}

header > h1 {
  color: grey;
  text-align: center;
  font-family: Asap, sans-serif;

}
.link{
  width:100%;
  bottom: 0px;
  text-align: center;
  position:relative;
  margin: 20px auto;
}

.score-board{
  margin: 20px auto;
  border: 3px solid white;
  border-radius: 4px;
  text-align: center;
  width: 200px;
  color: white;
  font-size: 40px;
  padding: 15px 20px;
  font-family: Asap, sans-serif;
  position: relative;
  
}
.badge
{
  
  color: white;
  font-size: 14px;
  padding: 2px 10px;
  font-family: Asap, sans-serif;

}
#user-label
{
  background: rgb(0, 200, 0);
  position: absolute;
  top: 30px;
  left: -25px;


}

#computer-label
{
  background: rgb(200, 0, 0);
  position: absolute;
  top: 30px;
  right:-30px;


}
.result
{
  font-size: 40px;
  color: white;

}
.result p
{
  text-align: center;
  font-family: Asap, sans-serif;
  font-weight: bold;

}
.choices{
    margin-top: 50px;
    text-align: center;

}
.choice
{
  border: 4px solid white;
  border-radius: 50%;
  margin: 0 20px;
  padding: 10px;
  display: inline-block;
  transition: all 0.5s ease;

}
#rockimage,#paperimage,#scissorsimage {
  height: 80px;
  width: 80px;
}
.choice:hover
{
  cursor: pointer;
  background: rgba(255, 255, 255, 0.33);
}
#action-message
{
  text-align: center;
  color: white;
  font-family: Asap, sans-serif;
  font-weight: bold;
  font-size: 20px;
  margin-top: 20px;

}
.green-glow
{
  border: 4px solid lightgreen;

  box-shadow: 0 0 10px green;
}
.green-glow-score
{
  color:lightgreen;
  text-shadow: 0 0 10px green;
  transition: all 0.5s ease;


}

.red-glow-score
{
  color: #fc121b;
  text-shadow: 0 0 10px red;
  transition: all 0.5s ease;


}
.red-glow
{
  border: 4px solid #fc121b;
  box-shadow: 0 0 10px red;
}
.yellow-glow
{
  border: 4px solid yellow;
  box-shadow: 0 0 10px gold;
  
}
.yellow-glow-score
{
  color: yellow;
  text-shadow: 0 0 10px gold;
  transition: all 0.5s ease;


}
#copyright{
  color: white;
}
